.ingredient {
  display: flex;
  width: 300px;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.ingredientBtn {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 180px;
  background: transparent;
  border: 3px solid white;
}

.ingredientImage {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.deleteBtn {
  width: 40px;
  height: 40px;
  background: url("src/assets/delete-icon.png") no-repeat center;
  background-size: contain;
}